<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시글 상세 보기</title>
    <link rel="stylesheet" th:href="@{/css/bulletin.css}">
</head>
<body>
<h1>게시글 상세 보기</h1>
<div>
    <h2 th:text="${post.title}">Sample Title</h2>
    <p>작성자: <span th:text="${post.name}">Sample Name</span></p>
    <p>등록일: <span th:text="${#dates.format(post.createdAt, 'yyyy/MM/dd HH:mm')}">2024/05/24 10:00</span></p>
    <div th:text="${post.content}">Sample Content</div>
    <div>
        <a th:href="@{/updateform(id=${post.id})}">수정</a>
        <a th:href="@{/deleteform(id=${post.id})}">삭제</a>
    </div>
</div>
<a th:href="@{/list}">목록으로 돌아가기</a>
</body>
</html>
