<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Detail</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-4">
    <h1>Board Detail</h1>
    <div class="card">
        <div class="card-header">
            <h2 th:text="${board.title}">Title</h2>
        </div>
        <div class="card-body">
            <p><strong>Name: </strong><span th:text="${board.name}">Name</span></p>
            <p><strong>Created At: </strong><span th:text="${board.createdAt}">2024/05/24</span></p>
            <p th:text="${board.content}">Content</p>
        </div>
        <div class="card-footer text-right">
            <a href="/list" class="btn btn-secondary">Back to List</a>
            <a th:href="@{'/updateform?id=' + ${board.id}}" class="btn btn-warning">Edit</a>
            <a th:href="@{'/deleteform?id=' + ${board.id}}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
